*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

::selection{
    background-color: darkorange;
}

.s3, .s4{
    background-color: black;
    color: whitesmoke;
}

.loading-finish{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.loader {
    position: absolute;
    background: linear-gradient(135deg, #803055, #1b0230);
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 16px;
    z-index: 999;
    transition: all 0.5s ease;
  }
  .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;  
  }
  .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SECTION 1
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

@keyframes scroll_animation{
    to{
        transform: translateY(8px);
    }
    from{
        transform: translateY(0);
    }
}

.hero{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("../images/videoframe_compressed.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 8%;
}

span{
    background: whitesmoke !important;
}

.navbar{
    width: 100%;
    height: 80px;
    background: transparent;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    width: 120px;
    height: 55%;
    background: url("../images/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(2px, 6px);
}

.navlinks{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.link{
    opacity: 0.7;
    transition: opacity .3s ease;
}
.link:hover{
    opacity: 1;
}

.link a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}
.link::before{
    content: '';
    display: block;
    margin-bottom: 4px;
    height: 2.4px;
    background: whitesmoke;
    transform: scale(0, 1);
    transition: transform .3s ease;
}
.link:hover::before {
    transform: scale(1,1);
  }

.registor_now_btn{
    border: 2px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
    margin-left: 20px;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}
.registor_now_btn:focus{
    outline: none;
}
.registor_now_btn:hover{
    background: whitesmoke;
    transform: translateY(2px);
}
.registor_now_btn:hover a{
    color: black;
}

.btn_name a{
    color: whitesmoke;
    text-decoration: none;
    transition: all .3s ease;
}

.heading{
    color: whitesmoke;
    font-size: 3em;
    font-weight: 600;
    line-height: 60px;
    margin-top: 2.5em;
}

.seconadary{
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.ad,
.time{
    color: whitesmoke;
    font-size: 1em;
    font-weight: 500;
    opacity: 0.7;
    font-size: 1.1em;
}

.divider_small{
    width: 2px;
    height: 12px;
    background-color: whitesmoke;
    opacity: 0.7;
    margin: 0 16px;
}

.events_btn{
    border: 2px solid whitesmoke;
    background: whitesmoke;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    margin-top: 3em;
}
.events_btn:hover{
    background: transparent;
    transform: translateY(2px);
}
.events_btn:hover .btn_name2 a{
    color: whitesmoke;
}
.events_btn:hover .arrow i{
    color: whitesmoke;
}

.btn_name2 a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

.arrow i{
    margin-top: 2px;
    margin-left: 12px;
    font-size: 1.6em;
}

.scroll_down{
    display: flex;
    flex-direction: column;
}

.scroll_down i{
    position: absolute;
    bottom: 40px;
    align-self: center;
    color: whitesmoke;
    font-size: 3em;
    line-height: 20px;
    animation: scroll_animation .5s infinite alternate;
}

/*
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SECTION 2
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.timer_background{
    padding: 8%;
    width: 55%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/timer_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 12%;
    grid-template-areas: "days hours" "mins secs";
}

.timer-days,
.timer-hours,
.timer-mins,
.timer-secs{
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    color: whitesmoke;
    font-size: 6em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-days{
    grid-area: "days";
}

.timer-hours{
    grid-area: "hours";
}

.timer-mins{
    grid-area: "mins";
}

.timer-secs{
    grid-area: "secs";
}

.label_finished{
    background-color: rgba(0,0,0,0.8);
    padding: 8%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 3.5em;
    line-height: 1.5em;
    font-weight: 600;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.about_container{
    padding: 8%;
    width: 45%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #803055, #1b0230);;
    color: whitesmoke;
    position: relative;
    box-shadow: -12px 0 10px 5px rgba(0,0,0,0.25);
}

.rkmvcc_text{
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 6px;
    opacity: 0.7;
    z-index: 1;
}

.about_heading{
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 6px;
    z-index: 1;
}

.organized_text{
    font-weight: 600;
    margin-bottom: 12px;
    opacity: 0.7;
    font-size: 1.2em;
    z-index: 1;
}

.email_text{
    font-weight: 500;
    margin-bottom: 60px;
    opacity: 0.7;
    z-index: 1;
}
.email_text i{
    font-size: 1.1em;
}

.about_text{
    font-weight: 600;
    font-size: 1.15em;
    opacity: 0.8;
    line-height: 1.6em;
    z-index: 1;
}

.events_btn2{
    height: 80px;
    width: 80px;
    background: linear-gradient(to left, rgb(185, 185, 185), white);
    position: absolute;
    border-radius: 50%;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.events_btn2 i{
    color: #803055;
    font-size: 2.5em;
    transition: transform 0.3s ease;
}
.events_btn2:hover i{
    transform: translateY(4px);
}
